@import url("https://fonts.googleapis.com/css2?family=Edu+AU+VIC+WA+NT+Pre:wght@400..700&family=Playwrite+GB+S:ital,wght@0,100..400;1,100..400&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Quicksand:wght@300..700&family=Redressed&family=Varela+Round&display=swap");

/* Definición de variables de colores para mejor mantenimiento */
:root {
    --background-color: lightblue;
    --background-colorForm: #2c4661;
    --primary-color: #2c4661;
    --secondary-color: #98FF98;
    --buttonCopy-color: #E6E6FA;
    --hooverCopy-color: #8A66A1;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilos generales */
body{
    font-family: 'Playwrite GB S', sans-serif;
    margin: 30px 40px 30px 40px; /* Arriba - Derecha - Abajo - Izquierda */
    background-color: var(--background-color);
}

header {
    text-align: center;
/* Si el tamaño dela fuente no está explícitamente establecida,
toma por defectoel tamaño de 16px, es decir 1rem = 16px */
    padding: 1rem;
    margin-bottom: 1rem;
    background-color: var(--primary-color);
    color: white;
    border-radius: 50vw;
}

main {
    max-width: 40rem;
    margin: 2rem auto;
}

footer{
    margin-top: 1rem;
    text-align: center;
}

form {
    background-color: var(--background-colorForm);
    color: var(--buttonCopy-color);
    padding: 1rem;
    border-radius: 0.5rem;
    box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.1);
    margin: 0.5rem 0 1.5rem;
}

label, input, select {
    display: block;
    width: 100%;
    margin-bottom: 0.75rem;
}

fieldset {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.5rem;
    border: 1px solid #ccc;
    padding: 10px;
}

label {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    width: 100%;
}

input[type="checkbox"] {
    margin: 0;
    width: 1rem;
    height: 1rem;
    accent-color: var(--secondary-color);
}

button {
    background-color: var(--secondary-color);
    color: black;
    border: none;
    padding: 0.75rem;
    border-radius: 0.5rem;
    cursor: pointer;
    font-size: 1rem;
    display: block;
    margin: 0 auto; /* Lo centra horizontalmente */
}

#generate {
    width: 30%;
    border: 0.1rem solid var(--button-color);
}

#copy {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2rem;
    height: 2rem;
    background-color: var(--buttonCopy-color);
    border: 0.1rem solid var(--buttonCopy-color);
}

#generate:hover {
    background-color: var(--background-colorForm);
    color: var(--secondary-color);
    border: 0.1rem solid var(--secondary-color);
}

#copy:hover {
    background-color: var(--hooverCopy-color);
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    background: white;
    margin: 0.5rem 0;
    padding: 1rem;
    border-radius: 0.5rem;
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.1);
    width: 18rem;
    text-align: center;
}

#length-value {
    color: #98FF98;
}

img {
    border: 0.1rem solid black;
    margin-top: 0.5rem;
    margin-bottom: -0.5rem;
}

figcaption {
    font-size: 1rem; /* Tamaño de letra */
    color: var(--hooverCopy-color);
    margin-bottom: 1rem;
    font-size: 0.9rem;
}

h4 {
    color: var(--primary-color);
}

/* Barra deslizable (input[type="range"]) */
input[type="range"] {
    -webkit-appearance: none; /* Quitar estilo predeterminado en WebKit (Chrome, Safari) */
    appearance: none; /* Quitar estilo predeterminado */
    width: 100%;
    height: 8px;
    background: linear-gradient(to right, var(--secondary-color) 0%, var(--secondary-color) 0%, var(--buttonCopy-color) 0%, var(--buttonCopy-color) 100%); /* Fondo con gradiente */
    border-radius: 5px;
    outline: none; /* Quitar contorno */
}

/* Barra deslizable - color conforme se desliza */
input[type="range"]:focus {
    background: linear-gradient(to right, var(--secondary-color) 0%, var(--secondary-color) 0%, black 0%, black 100%); /* Mantiene el cambio de color al estar enfocado */
}

/* Barra deslizable - control de la bolita */
input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none; /* Quitar estilo predeterminado */
    appearance: none;
    width: 20px;
    height: 20px;
    background-color: var(--secondary-color); /* Pulgar de color --secondary-color */
    border-radius: 50%; /* Círculo */
    cursor: pointer;
}

input[type="range"]::-moz-range-thumb {
    width: 20px; /* En Firefox */
    height: 20px; /* En Firefox */
    background-color: var(--secondary-color); /* Pulgar de color --secondary-color */
    border-radius: 50%; /* Círculo */
    cursor: pointer;
}

/* Actualización dinámica del color de la barra conforme el pulgar se mueve */
input[type="range"]:active {
    background: linear-gradient(to right, var(--secondary-color) 0%, var(--secondary-color) 0%, black 0%, var(--secondary-color) 100%);
}

/* Checkbox (input[type="checkbox"]) */
input[type="checkbox"] {
    width: 1.5rem;
    height: 1.5rem;
    background-color: var(--background-color);
    border: 2px solid var(--secondary-color);
    border-radius: 0.25rem;
    appearance: none; /* Quitar estilo predeterminado */
    cursor: pointer;
}

/* Estado de checked del checkbox */
input[type="checkbox"]:checked {
    background-color: var(--secondary-color); /* Fondo cuando está marcado */
    border-color: var(--secondary-color);
}

/* Estado del checkbox al pasar el cursor */
input[type="checkbox"]:hover {
    background-color: var(--secondary-color); /* Fondo al pasar el cursor */
    border-color: var(--secondary-color);
}

#strength {
    color: var(--secondary-color);
}

#password{
    background-color: var(--buttonCopy-color);
    color: black;
}